# Rule that allows direct access to the touch controller by the app without root permissions.

SUBSYSTEM=="usb", ATTR{product}=="XTC", ATTR{idProduct}=="3003", ATTRS{idVendor}=="0547", MODE="0666"
